* a {
    text-decoration: none;
}

.carousel-caption {
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(9, 30, 62, .7);
    z-index: 1;
}

.carousel-caption h1 {
    font-size: 4rem;
}

@media (max-width: 576px) {
    .carousel-caption h5 {
        font-size: 14px;
        font-weight: 500 !important;
    }

    .carousel-caption h1 {
        font-size: 24px;
        font-weight: 600 !important;
    }
}

.carousel-control-prev,
.carousel-control-next {
    width: 10%;
}

.carousel-control-prev-icon,
.carousel-control-next-icon {
    width: 3rem;
    height: 3rem;
}

.btn-next {
    text-decoration: none;
    color: black;
    font-weight: 800;
    border: 1px solid color black;
    background-color: yellow;
    /* height: 10px; */
}

.contain-contact {
    background-color: #00428a;
}

footer {
    background-color: #003871;
    display: flex;
    height: 80px;
    /* top: -100px; */
}

footer p {
    margin: auto;
    text-align: center;
    color: white;
    font-size: 1.2rem;
}

.callout {
    padding: 20px;
    margin: 20px 0;
    border: 1px solid #eee;
    border-left-width: 5px;
    border-radius: 3px;

}

.callout h4 {
    margin-top: 0;
    margin-bottom: 5px;
}

.callout p:last-child {
    margin-bottom: 0;
}

.callout code {
    border-radius: 3px;
}

@each $name,
$color in (default, #777),
(primary, #428bca),
(success, #5cb85c),
(danger, #d9534f),
(warning, #f0ad4e),
(info, #5bc0de),
(bdc, #29527a) {
    .callout-#{$name} {
        border-left-color: $color;

        h4 {
            color: $color;
        }
    }
}