* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 12px;
    text-decoration: none;
}

body {
    background: white;
}

/* navbar */
.navbar {
    height: 50px;
    width: 100%;
    display: flex;
    background: white;
    /* margin: 0 auto; */
    align-items: center;
    justify-content: space-around;
    box-shadow: 0 8px 80px grey;
    z-index: 10;
    position: fixed;
}

.navlogo {
    display: flex;
    box-sizing: border-box;
    overflow: hidden;
}

.navlogo img {
    width: 250px;
    /* width: 100%; */
    margin: auto;
    margin-left: 0;
}

.navmenu {
    display: flex;
    list-style: none;
    gap: 2em;
}

.navmenu a {
    font-size: 1.5em;
    color: black;
}

.navmenu a:hover {
    border-bottom: 2px solid black;
}

.btnlogin {
    font-size: 1em;
    font-weight: bold;
    color: white;
    background-color: black;
    border: none;
    outline: none;
    border-radius: 20px;
    padding: 0.5em 1.5em;
    cursor: pointer;
}

.btnlogin:hover {
    scale: 1.1;
}

/* toggle and menu drop drow just using for tablet & mobile */
.togglebtn {
    display: none;
    color: black;
    /* font-size: 3em; */
    cursor: pointer;

}

.menudropdown {
    position: absolute;
    /* top: 60px; */
    display: none;
    justify-content: center;
    width: 100%;
    /* height: ; */
    text-align: center;
    background-color: rgba(143, 143, 143, 0.8);
    transition: .2 cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.menudropdown ul {
    list-style: none;
}

.menudropdown li {
    cursor: pointer;
    padding: 10px 0;
    width: 100vw;
}

.menudropdown li:hover {
    background-color: rgba(0, 0, 0, 0.2);
}

.menudropdown a {
    color: black;
    font-size: 1.5em;
    font-weight: bold;
}

.menudropdown .btn:hover {
    background-color: black;
}

.menudropdown .btn:hover a {
    color: white;
}


/* carausel */
.carausel {
    /* overflow: hidden; */
    /* background-image: url(https://lsppnb.narasidigital.cloud/slide/19.jpg); */
    display: flex;
    align-items: center;
    /* background-repeat: no-repeat;
    background-size: cover;
    background-position: center; */
}

.carausel img {
    width: 100%;
    object-fit: cover;
}

.sliderleft {
    left: 0;
    margin-left: 5%;
    /* margin-left: 0; */
    position: absolute;
    z-index: 1;
    color: rgba(255, 255, 255, 0.5);
}

.sliderleft:hover {
    color: white;
}

.sliderright {
    color: rgba(255, 255, 255, 0.5);
    right: 0;
    margin-right: 5%;
    position: absolute;
    z-index: 1;
}

.sliderright:hover {
    color: white;
}

/* information */
.information {
    padding: 20px;
    /* height: 500px; */
    width: 100%;
    display: flex;
    flex-direction: column;
    background-color: rgb(219, 219, 219);
}

.information h1 {
    font-size: 3em;
    /* border-bottom: 1px solid black; */
    text-align: center;
    margin: auto;
    margin-bottom: 20px;

}

.information .skema {
    display: flex;
    flex-wrap: wrap;
    margin: 0 10%;
    justify-content: center;
}

.information .skema .card {
    display: flex;
    flex-direction: column;
    background-color: #fff;
    margin: 5px;
    padding: 10px;
    /* height: 200px; */
    width: 25%;
    border-radius: 5px;
    border-left: 5px solid green;
}

.information .skema .card h2 {
    color: black;
    font-weight: bold;
    font-size: 1.8rem;
    margin: 10px 0;
}

.information .skema .card p {
    color: black;
    font-size: 1.2rem;
    margin: 10px 0;
}

.information .skema .card .btncard {
    display: flex;
    margin: 10px 0;
}

.information .skema .card .lihatskema {
    background-color: dodgerblue;
    border-radius: 5px;
    padding: 10px;
}

.information .skema .card .lihatskema .btnskema {
    color: white;
    font-size: 1.2rem;
    text-align: center;
    /* margin: 10px 0; */
}

.information .skema .card .lihatskema .hitungskema {
    background-color: white;
    margin-left: 5px;
    color: dodgerblue;
    font-size: 1.2rem;
    text-align: center;
}

.information .skema .card .btndaftar {
    background-color: crimson;
    border-radius: 5px;
    padding: 10px;
    margin-left: 2%;
    color: white;
    font-size: 1.2rem;
}

/* galery */
.containergalery {
    padding: 20px;
    /* height: 500px; */
    width: 100%;
    display: flex;
    flex-direction: column;
    /* background-color: rgb(219, 219, 219); */
    overflow: hidden;
}

.containergalery h1 {
    font-size: 3em;
    /* border-bottom: 1px solid black; */
    text-align: center;
    margin: auto;
    margin-bottom: 20px;
}

.containergalery .galery {
    display: flex;
    flex-wrap: wrap;
    /* margin: 0 10%; */
    justify-content: space-around;
}

.containergalery .galery .card {
    display: flex;
    flex-direction: column;
    background-color: #fff;
    margin: 5px;
    padding: 10px;
    /* height: 200px; */
    width: 25%;
    border-radius: 5px;
    box-shadow: 0 0 10px gray;
}

.containergalery .galery .card a {
    color: black;
    font-size: 1.2rem;
    text-align: center;
    margin-top: 10px;
    cursor: pointer;
}

.containermap {
    padding-top: 20px;
    /* height: 500px; */
    width: 100%;
    display: flex;
    flex-direction: column;
    background-color: rgb(219, 219, 219);
    overflow: hidden;
    justify-content: center;
}

.containermap h1 {
    font-size: 3em;
    /* border-bottom: 1px solid black; */
    text-align: center;
    margin: auto;
    margin-bottom: 20px;
}

.containermap .map {
    margin: auto;
    display: flex;
    width: 80%;
    height: 400px;
    background-color: transparent;
}

.containermap .map .framemap {
    /* margin: auto; */
    width: 100%;
    height: 100%;
}

.containermap .contact {
    margin: auto;
    display: flex;
    width: 100%;
    /* height: 400px; */
    justify-content: space-around;
    background-color: #00428a;
}

.containermap .contact .card {
    margin: 10px 0;
}

.containermap .contact .card h2 {
    color: white;
    font-size: 1.5rem;
    margin-bottom: 5px;
}

.containermap .contact .card h3 {
    color: white;
    font-size: 1.2rem;
    font-weight: 200;
}

.containermap .contact .card a {
    color: white;
    font-size: 1.2rem;
}

footer {
    background-color: #003871;
    display: flex;
    height: 80px;
}

footer p {
    margin: auto;
    text-align: center;
    color: white;
    font-size: 1.2rem;
    /* font-weight: bold; */

}

@media (max-width:1100px) {

    /* responsive navbar on tablet and mobile */
    .navbar {
        justify-content: space-between;
    }

    .navtitle {
        margin-left: 10%;
    }

    .navmenu,
    .btnlogin {
        display: none;
    }

    .togglebtn {
        display: block;
        margin-right: 10%;
    }
}